/system/.DS_Store
/application/controllers/.DS_Store
/application/.DS_Store
/.DS_Store
/assets/.DS_Store
application/config/database.php
index.php
application/config/development
application/config/production