# min hour dom mon dow   command
# run at 00:05 daily
  5    0    *   *   *    wget http://hep.d2.comp.nus.edu.sg/subscriber/update > /dev/null
# run at 02:20 daily
  20   2    *   *   *    wget http://hep.d2.comp.nus.edu.sg/mail/dailyReport > /dev/null
# run hourly
  1    *    *   *   *    rm -rf validate*
# run at 04:50 daily
  50   4    *   *   *    /root/dbbackup.sh
# run hourly
  1    *    *   *   *    rm -rf update.*
# run hourly
  1    *    *   *   *    rm -rf daily*
# run daily at 03:05
  5    3    *   *   *    wget http://hep.d2.comp.nus.edu.sg/subscriber/validateFitbitRecord > /dev/null
# run at 23:59 daily
  59   23   *   *   *    wget http://hep.d2.comp.nus.edu.sg/subscriber/updateTodayAllProgress > /dev/null
# run at 01:00 Wednesdays
  0    1    *   *   3    wget http://hep.d2.comp.nus.edu.sg/subscriber/weeklyTally/root > /dev/null
# run at 06:00 daily
  0    6    *   *   *    wget http://hep.d2.comp.nus.edu.sg/mail/syncReminder/root > /dev/null
  