p{
	margin: 0 0 1em;
}

#user-notification{
	display: block;
	position: absolute;
	top: 3px;
	right: 4px;
}

.form-horizontal .control-group {
	margin-bottom: 21px;
}

.form-horizontal label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}

.form-horizontal .controls {
	margin-left: 180px;
}

.navbar .avatar{
	height: 20px;
	width: auto;
}

.post-profile>img{
	height:50px;
	width:50px;
}

.newsFeed>li, .challenge>li{
	border-bottom: 1px solid #ccc;
}

.newsFeed>li:last-child, .challenge>li:last-child{
	border-bottom: 0;
}

span.activityIcon{
	width:25px;
	height:25px;
	display: inline-block;
	background-image: url(../img/activityIcon.png);
}

span.activityIcon.steps{
	background-position: -100px 0; 
}

span.activityIcon.distance{
	background-position: -50px 0;

}
span.activityIcon.floors{
	background-position: -225px 0;
}

.achievementItem h4, .achievementItem p{
	color: #999;
}

.achievementItem.active h4, .achievementItem.active p{
	color: inherit;
}

.achievementItem{
	margin-top: 0 !important;
	margin-bottom:1px !important;
	border-radius: 0;
}

.today-activity{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.badgelist{
	border-radius: 0 !important;
	margin-bottom: 1px;
}

.newsfeed{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.smalltext{
	display:inline-block;
}

.control-bottons{
	margin-bottom: 10px;
}

.studentItem .media-object{
	height:50px !important;
	width:50px !important;
}

.challenge .media{
	padding-bottom: 20px;
}

.challenge>.media:last-child{
	padding-bottom: 0;
}

.signup{
	margin-top: 100px;
}

#submitbtn{
	margin-top: 10px;
}
.linkfacebook{
	margin-top: 100px;
}

.skip{
	margin-top: 20px;
}

.maintitle{
	text-align: center;
	margin-top: 100px;
}

.loginbtn{
	text-align: center;
	margin-top: 40px;
}

.wrapper{
	background: url(../img/running_background.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	position:absolute;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

td.forum-stats{
	font-weight: bold;
	color: #a5a5a5;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

.vote-button, .flag-button{
	display:inline-block;
	text-decoration: none;
}

.vote-button:hover, .flag-button:hover{
	text-decoration: none;
}

.vote-up, .vote-down{
	color:#666;
}

.flag-button.flag-enabled{
	color:#666;
}

.flag-button.flag-disabled{
	color:red;
}

.vote-up.vote-disabled, .vote-down.vote-disabled{
	color:#ccc;
}

.hidden {
	position: absolute !important;
	clip: rect(1px,1px,1px,1px);
}

.thread-control{
	padding-bottom: 10px;
}

.forum-header{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.forum-post-container{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}

.forum-post-header{
	background: #e6e6e6;
	padding: 6px;
	margin-bottom: 10px;
}

.challengeItem.media.well{
	border-bottom: 1px solid #ccc;
	padding: 0;
}

.challengeItem.media .progress{
	margin-bottom: 0;
}

.challengeItem.media .media-object{
	height: 120px;
}
.challengeItem.media .media-body{
	padding: 10px;
}

.challengeControls .view-btn{
	margin-bottom: 20px;
}

.challengeControls{
	width: 200px;
	border-left: 1px solid #CCC;
	padding-left: 20px;
	height: 120px;
}

