/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Grandesign Neue Serif";src:url("../font/Grandesign_Neue_Serif.eot?") format("eot"),url("../font/Grandesign_Neue_Serif.woff") format("woff"),url("../font/Grandesign_Neue_Serif.ttf") format("truetype"),url("../font/Grandesign_Neue_Serif.svg#GrandesignNeueSerif") format("svg");font-weight:normal;font-style:normal;}
p{
	margin: 0 0 1em;
}

body{
	background: url(../img/brillant.png);
}
.image-fix
{
	display: block;
}

.user-icons .user-icon
{
	padding: 10px 10px 0 10px;
	color: #ccc;
}

.activity-chart{
	height: 120px;
	border-bottom: 1px solid #ccc;
}

.activity-chart>.span3{
	height: 100%;
	position: relative;
}

.activity-icons .span3{
	position: relative;
}

.activity-icons .activityIcon
{
	position: absolute;
	left: 30px;
}

.activity-icons h4
{
	position: absolute;
	left: 60px;
	top: 4px;
	margin:0;
}

.activity-chart .row-fluid{
	position: absolute;
	bottom: 0;
}

table.activity-stats{
	margin-top: -5px;
}

td.activity-stats, td.stats-label{
	text-align: center;
	vertical-align: center;
	color:#666;
	border-top: none;
	width: 25%;
}

td.middle-col{
	border-right: solid 1px #E6D9B8;
}

td.stats-count{
	border-top:none;
	color: red;
}

td.activity-stats strong, td.stats-label strong{
	line-height: 1.5em;
}

td.activity-stats strong span, td.stats-label strong span{
	font-size: 2em;
	line-height: 1em;
}

#user-notification{
	display: block;
	position: absolute;
	top: 3px;
	right: 4px;
}

.form-horizontal .control-group {
	margin-bottom: 21px;
}

.form-horizontal label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}

.form-horizontal .controls {
	margin-left: 180px;
}

.navbar .avatar{
	height: 20px;
	width: auto;
}

.post-profile>img{
	height:50px;
	width:50px;
}

.postWordCount{
	display: none;
}

.newsFeed>li, .challenge>li{
	border-bottom: 1px solid #ccc;
}

.newsFeed>li:last-child, .challenge>li:last-child{
	border-bottom: 0;
}

span.activityIcon{
	width:25px;
	height:25px;
	display: inline-block;
	background-image: url(../img/activityIcon.png);
}

span.activityIcon.steps{
	background-position: -100px 0; 
}

span.activityIcon.distance{
	background-position: -50px 0;

}
span.activityIcon.floors{
	background-position: -225px 0;
}

.achievementItem h4, .achievementItem p{
	color: #999;
}

.achievementItem.active h4, .achievementItem.active p{
	color: inherit;
}

.achievementItem{
	margin-top: 0 !important;
	margin-bottom:1px !important;
	border-radius: 0;
}

.today-activity{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.badgelist{

}

.section-title{
	font-family: "Grandesign Neue Serif", Serif;
	font-size: 1.2em;
	color: white;
	background: #39A1D1;
	padding: 10px;
	border-radius: 5px;
}

.newsfeed{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.smalltext{
	display:inline-block;
}

.control-bottons{
	margin-bottom: 10px;
}

.studentItem .media-object{
	height:50px !important;
	width:50px !important;
}

.challenge .media{
	padding-bottom: 20px;
}

.challenge>.media:last-child{
	padding-bottom: 0;
}

.signup{
	margin-top: 100px;
}

#submitbtn{
	margin-top: 10px;
}
.linkfacebook{
	margin-top: 100px;
}

.skip{
	margin-top: 20px;
}

.maintitle{
	text-align: center;
	margin-top: 100px;
}

.loginbtn{
	text-align: center;
	margin-top: 40px;
}

.wrapper{
	background: url(../img/running_background.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	position:absolute;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

td.forum-stats{
	font-weight: bold;
	color: #a5a5a5;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

.vote-button, .flag-button{
	display:inline-block;
	text-decoration: none;
}

.vote-button:hover, .flag-button:hover{
	text-decoration: none;
}

.vote-up, .vote-down{
	color:#666;
}

.flag-button.flag-enabled{
	color:#666;
}

.flag-button.flag-disabled{
	color:red;
}

.vote-up.vote-disabled, .vote-down.vote-disabled{
	color:#ccc;
}

.hidden {
	position: absolute !important;
	clip: rect(1px,1px,1px,1px);
}

.thread-control{
	padding-bottom: 10px;
}

.forum-header{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.forum-post-container{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}

.forum-post-header{
	background: #e6e6e6;
	padding: 6px;
	margin-bottom: 10px;
}

.challengeItem.media.well{
	border-bottom: 1px solid #ccc;
	padding: 0;
}

.challengeItem.media .progress{
	margin-bottom: 0;
}

.challengeItem.media .media-object{
	height: 120px;
}
.challengeItem.media .media-body{
	padding: 10px;
}

.challengeControls .view-btn{
	margin-bottom: 20px;
}

.challengeControls{
	width: 200px;
	border-left: 1px solid #CCC;
	padding-left: 20px;
	height: 120px;
}

.thread-container .thread-pic, .thread-container .thread-content{
	float: left;
}

.thread-container .thread-pic{
	width: 10%;
}

.thread-container .thread-content{
	width: 90%;
}

.thread-content .thread-comment .thread-commment-pic{
	width: 6%;
	float: left;
}

.thread-content .thread-comment .thread-comment-content{
	width: 94%;
	float: left;
}

.thread-content .thread-comment{
	border-top: 1px solid #ddd;
	margin-top: 3px;
	padding-top: 4px;
	font-size: 0.9em;
}

.messageBox{
	height: 20px;
	font-size: 13px;
	line-height: 1em;
}

.thread-content .postbtn{
	float: left;
	width: 8%;
	margin-left: 2%;
}

.thread-content .messageBox{
	float: left;
	width: 90%;
}

.challenge-forum hr{
	margin: 10px 0;
}

.leaderboard-person{
	background: #F7ECC9;
	color: #6C7A7A;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;
}

.leaderboard-rank{
	width: 10%;
	position: absolute;
	top: -5px;
	left: -5px;
}

.leaderboard-profile-pic{
	float: left;
	width: 40%;
}

.leaderboard-content{
	float: left;
	width: 50%;
}

table.table.challenge-stats{
	margin-bottom: 0;
}
table.challenge-stats thead td{
	text-align: center;
	width: 25%;
	font-family: "Grandesign Neue Serif", Serif;
	font-size: 2em;
}

div.challenge-stats{
	margin: 0 2%;
	width: 96%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #F7ECC9;
	margin-bottom: 20px;
}

.current-challenges .section-title{
	margin-bottom: 0;
}

.media-list.current-challenge-list{
	width: 96%;
	margin: 0 2%;
}

.house-people{
	background: #fcfcfc;
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
}

.myhouse .house-people:first-child{
 border-top: 1px solid #ddd;
}

.house-people-pic, .house-people-content{
	float:left;
}

.house-people-pic{
	width: 10%;
}

.house-people-content{
	width: 90%;
}

.house-people-name .span2, .house-people-stats .span2{
	padding-left: 1em;
}

.house-pepople-badges>img{
	width: 20%;
	height: auto;
}

.house-people-current>img{
	width: 20%;
	height: auto;
}

.house-stats td{
	width: 25%;
	border: none;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
}

.house-stats img{
	width: 100px;
	height: 100px;
}

.house-stats td span{
	font-size: 5em;
}

.leaderboard-house{
background: #fcfcfc;
border-radius: 5px;
overflow: hidden;
box-shadow: 0 0 3px #ccc;
}

.leaderboard-house-rank{
	padding: 1em 0;
	text-align: center;
}
.leaderboard-house-content{
	padding: 1em 0;
}
.leaderboard-house-content .strong{
	font-size: 20px;
}

.leaderboard-profile-pic img{
	display: block;
	float: left;
}